/* body {
    background-color: rgb(51, 50, 50);
    color: white;
} */

.book-store {
    height: auto;
    background-color: rgba(245, 245, 245, 0.532);
    border-radius: 5px;
    margin-bottom: 10vh;
    margin-top: 10vh;
    padding: 5vh;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: white;
}

.book-item {
    border: 2px solid rgb(1, 1, 1);
    padding: 5vh;
    text-align: center;
}

.book-intro {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: auto;
    border-top: 2px solid;
}

.book-intro p{
font-weight: lighter;
font-size: 20px;
padding: 20px;
border-left: 2px solid;
background-color: white;
}

blockquote {
    font-size: larger;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.image-grid img{
    width: 300px;
   
}

.image-item {
border-right: 2px solid;
padding: 5vh;
}