* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

blockquote {
    color: rgb(60, 59, 59);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 20vh;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.976);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.hero-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hero-menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transform: scale(1);
    transition-duration: 1.5ms;
}

.hero-menu ul li a:hover {
    color: rgb(126, 125, 125);
}

.mission-grid {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    height: 100vh;
}

.mission-statement h1 {
    text-align: center;
}

.mission-statement p {
    font-weight: 600;
    font-size: 20px;
}

.contact-container {
    padding: 5vh;
}
.contact-container h1 {
    font-size: 50px;
}

.contact-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(26, 25, 25);
    height: 30vh;
}

.contact-call-out {
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 1;
    background-color: white;
    width: 50vh;
}

.contact-call-out a {
    color: rgb(60, 59, 59);
}

.work-container {
    height: 100vh;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.work-container p {
font-weight: 600;
font-size: 20px;
}


.work-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(26, 25, 25);
}

.work-item {
    border: 2px solid black;
    padding: 20px 60px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.work-item h2 {
    font-weight: lighter;
    font-size: 26px;
}

.work-item button {
    padding: 20px 30px;
    background-color: rgb(31, 31, 31);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition-duration: 1.5;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.work-item button:hover {
    background-color: rgb(44, 44, 44);
    color: rgb(161, 159, 159);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: rgb(28, 27, 27);
    color: white;
    height: 100vh;
    font-weight: lighter;
    padding: 10vh;
}

.footer-items{
    text-align: center;
}

.footer-items a{
    text-decoration: none;
    color: rgb(132, 129, 129);
    font-weight: lighter;
}

.footer-items a:hover {
    cursor: pointer;
    color: rgb(212, 211, 211);
}