* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZGFyayUyMG1vdW50YWlufGVufDB8fDB8fHww');
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

a:hover {
    color: orange;
    transition: 0.3s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.5);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 30vh;
}

.nav-bar .logo a {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-bar .nav-links {
    display: flex;
    gap: 2rem;
}

.nav-bar .toggle-btn {
    color:#fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8rem;
}
.action-btn:hover {
    background-color: #e47303;
    color: rgb(26, 17, 1);
    transition: 0.3s;
    scale: 1.05;
}
.action-btn:active {
    scale: 0.95;
}